In [1]:
#1. Write a program to print numbers from 1 to 10, but stop if the number is 5.

In [3]:
n = 10
i = 1
while i <= n:
    print (i)
    i = i + 1
    if i == 5:    
        break
else:
    print("here are the numbers")

1
2
3
4

In [4]:
#2.Write a program to iterate through a list and stop when encountering a specific element.

In [13]:
my_list = ["anshika", "kaushar", "richa", "kuldeep", "rukaiyya", "shahnaz", "swaleha"]
for i in my_list:
    if i == "kuldeep":
        break
    print(i)
else: 
    print("this will execute when for loop ends")

anshika
kaushar
richa

In [14]:
my_list = ["anshika", "kaushar", "richa", "kuldeep", "rukaiyya", "shahnaz", "swaleha"]
for i in my_list:
    if i == "swaleha":
        break
    print(i)
else: 
    print("this will execute when for loop ends")

anshika
kaushar
richa
kuldeep
rukaiyya
shahnaz

In [15]:
#3. Write a program to skip printing even numbers from 1 to 10.

In [16]:
for i in range(10):
    if i % 2== 0:
        continue
    print(i)

1
3
5
7
9

In [17]:
list(range(1,10, 2)) #this can also be used to get the desired result as asked in ques. 3

[1, 3, 5, 7, 9]

In [18]:
#4.Write a program to print numbers from 0 to 9 using range().
for i in range(0 ,10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [20]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
#5. Write a program to print multiplication tables from 1 to 5, but stop after the first table is printed for each number.
for num in range(1, 6):
    print(f"Multiplication table for {num}:")
    for i in range(1, 11):
        result = num * i
        print(f"{num} x {i} = {result}")
    print()

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [22]:
#6. Write a program to skip printing even numbers using a while loop.
num = 1
while num <= 100:
    print(num)
    num += 2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99